html, body {
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Figtree, sans-serif;
  background-color: #06171E;
  color: #FFFFFF;
}
main {
  flex: 1;
}
h1 {
    font-size: 56px;
    font-weight: 800;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 100px;
    text-align: center;
}
h2 {
    font-size: 24px;
    font-weight: 700 bold;
    margin-block-start: 0;
    margin-block-end: 0;
}


header {
    min-height: 80px;
    background-color: #09212A;
    display: flex;
    align-items: center;
    width: 100%;
}
#header_logo {
    height: 40px;
    padding-left: 20px;
}


.content_wrapper {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
.main_content_wrapper {
    max-width: 1440px;
    margin: auto;
    padding: 120px 0;
}


.photo_content {
    padding: 0 160px;
    background-color: #627B84;
}
.galleryImage {
    height: 150px;
    width: 150px;
    border-radius: 16px;
    border: solid 2px #124658;
    margin: 0 8px 48px 8px;
    transition: all 125ms ease-in-out;
    object-fit: cover;
}
.galleryImage:hover {
            filter:  brightness(1.5);
            transform: scale(1.2);
        }


footer {
    display: flex;
    width: 100%;
    min-height: 128px;
    background-image: url(./img/footer_background.png);
    background-size: cover;
}
#footer_logo {
    height: 32px;
}
#footer_content {
    display: flex;
    flex-direction: column;
}
#footer_font {
    text-align: center;
    color: #627B84;
    font-size: 13px;
    margin-block-start: 16px;
    margin-block-end: 0;
}

dialog {}