html, body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Figtree, sans-serif;
  background-color: #06171E;
  color: #FFFFFF;
}

main {
  flex: 1;
}

h1 {
    font-size: 56px;
    font-weight: 800;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 100px;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: 700 bold;
    color: #FFFFFF;
    margin-block-start: 0;
    margin-block-end: 0;
}

header {
    min-height: 80px;
    background-color: #09212A;
    display: flex;
    align-items: center;
    width: 100%;
}

.HeaderLogo {
    height: 40px;
    padding-left: 20px;
}

.ContentWrapper {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.MainContentWrapper {
    max-width: 1440px;
    margin: auto;
    padding: 120px 0;
}

#photo_content {
    padding: 0 160px;
}

.GalleryImage {
    height: 150px;
    width: 150px;
    border-radius: 16px;
    border: solid 2px #124658;
    margin: 0 8px 48px 8px;
    transition: all 125ms ease-in-out;
    object-fit: cover;
}

.GalleryImage:hover {
            filter:  brightness(1.5);
            transform: scale(1.2);
        }

#img_dialog {
    background-color: #09212A;
    border-radius: 40px;
    border: 2px solid #09212A;
    padding: 56px 64px;
    transition: all 0.5s ease-in;
    transform: translateY(50px);
}

#img_dialog.opened {
    transition: all 0.5s ease-in;
    transform: translateY(0);
}

#img_dialog::backdrop {
    opacity: 0;
    transition: all 1s ease-in;
    background-color: black;
}

#img_dialog.opened::backdrop {
    opacity: 0.5;
    transition: all 1s ease-in;
}

#dialog_title {
    font-size: 24px;
    font-weight: 700 bold;
}

.DialogExit:hover {
    background-image: url(./img/exit_hover.png);
}

.DialogHeader {
    display: flex;
    justify-content: space-between;
}

.DialogNav {
    display: flex;
    justify-content: space-between;
    width: 260px;
    margin: auto;
}

.DialogNav img:hover {
    filter:  brightness(1.6);
}

#show_index {
    align-content: center;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}

footer {
    display: flex;
    width: 100%;
    min-height: 128px;
    background-image: url(./img/footer_background.png);
    background-size: cover;
    background-position: center bottom;
}

.FooterLogo {
    height: 32px;
}

.FooterContent {
    display: flex;
    flex-direction: column;
}

.FooterFont {
    text-align: center;
    color: #627B84;
    font-size: 13px;
    margin-block-start: 16px;
    margin-block-end: 0;
}

@media (max-width: 1020px) {
    h1 {
        font-size: 48px;
    }
    #photo_content {
    padding: 0 24px;
}
}